newscoop/tests/ingest/nitf-3-0.dtd

<!--
	News Industry Text Format
	Document Type Definition - Version 3.0
	October 12, 2001
	http://www.nitf.org

	Copyright (c) 2001. All Rights Reserved.
	International Press Telecommunications Council
	http://www.iptc.org

	Recent Modifications:
		Made units attribute of media-reference be optional
	
	NITF 3.0 Modifications:
		Made mime-type attribute of media-reference be optional, not required
		Made media-type attribute of media be CDATA, not a hard-wired vocabulary
		Added optional byline to block.start
		Made media-reference/media-object repeatable
		Head element made optional
		Changed date and version
		Created identified-content element, added to docdata
		Made sure that attributes like idsrc and value were on all items within identified-content.
			Made sure these attributes were all optional
		Made tr exist within table directly (can leave out tbody), as in XHTML
		Deprecated data-location attribute of media-reference. Source is used instead.
		Renamed the block.head entity to block.start
		Added tobject, key-list, and classifier to block.start
		Created classifier element; added to block.start, identified-content, and enriched-text
		Created metadata-rich nitf-table element and subelements, and added to block.content
		Changed reg-src attribute of correction element to regsrc
		Deprecated legacy HTML attributes that are formatting-specific
			removed:
				dir and lang attributes from common-attributes entity
				table.fmt, table.domain, and table.inst attributes
				continue and compact attributes of ol element
				src, wrap, plain, dingbat, compact attributes of ul
				methods attribute of "a" element
				background attribute of body element
				src attribute of note, hr elements
			common-attribute adjustments
				added common-attributes for:
					hedline, chron, event, tagline,
					bibliography, byline, location,
					sublocation, city, state, region, country,
					money, num, frac, virtloc,
				Change hr's attributes from id, src to common-attributes
				Replace common-attributes with global-attributes for media-metadata

	For the list of modifications from previous releases, see:
		http://www.nitf.org/site/recent-modifications.html

	For the list of proposed modifications, see:
		http://www.nitf.org/site/proposed-changes.html

-->


<!-- 	****************************************************************
	DTD Entities
	**************************************************************** -->

<!ENTITY % enriched-text '
	#PCDATA
	| chron
	| classifier
	| copyrite
	| event
	| function
	| location
	| money
	| num
	| object.title
	| org
	| person
	| postaddr
	| virtloc
	| a
	| br
	| em
	| lang
	| pronounce
	| q
	'>

<!ENTITY % block.start "tobject?, key-list?, classifier*, byline?, dateline?, copyrite?, abstract?">
<!ENTITY % block.content "p | hl2 | table | nitf-table | media | ol | ul | dl | bq | fn | note | pre | hr">
<!ENTITY % block.end "datasource?">

<!-- Attribute entities -->

<!ENTITY % global-attributes '
	id 	ID 						#IMPLIED
	'>

<!-- Note that any element that has common-attributes, also has that
	id attribute, lifted from global-attributes -->

<!ENTITY % common-attributes '
	id 	ID 						#IMPLIED
	class 	NMTOKENS 					#IMPLIED
	style 	CDATA 						#IMPLIED
	'>
<!ENTITY % cell.align '
	align 	(left | center | right | justify | char) 	#IMPLIED
	char 	CDATA 						#IMPLIED
	charoff CDATA 						#IMPLIED
	'>
<!ENTITY % cell.valign '
	valign 	(top | middle | bottom | baseline) 		#IMPLIED
	'>
<!ENTITY % boolean '(true | false)'>

<!-- 	****************************************************************
	nitf
	**************************************************************** -->

<!ELEMENT nitf (head?, body)>
<!ATTLIST nitf
	%global-attributes;
	uno 		CDATA 		#IMPLIED
	version 	CDATA 		#FIXED 		"-//IPTC//DTD NITF 3.0//EN"
	change.date 	CDATA 		#FIXED 		"October 12, 2001"
	change.time 	CDATA 		#FIXED 		"14:00"
	baselang 	CDATA 		#IMPLIED
	class 		NMTOKENS 	#IMPLIED
	>
	<!--
	Element			nitf
	Partial description	The root element for NITF.
	Full description	News Industry Text Format instance. Holds head and body.

	id			An XML-specific identifier for the element.
	uno			The universally unique identifier for the document.
	version			This DTD's formal public identifier.
	change.date		Date when this DTD was last changed.
	change.time		Time when this DTD was last changed.
	baselang		Base language for document. Uses en-US (per ISO 639 and 3166).
	class			An open placeholder for categorization.
	-->

<!-- 	****************************************************************
	head
	**************************************************************** -->

<!ELEMENT head (title?, meta*, tobject?, iim?, docdata?, pubdata*, revision-history*)>
<!ATTLIST head
	%global-attributes;
	>
	<!--
	Element			head
	Partial description	Holds metadata about the document as a whole.
	Full description	Generally does not hold information for direct display to user. Portions of the metadata, though, are often rendered to augment an article.

	id			Unique identifier for the element.
	-->

<!ELEMENT title (#PCDATA)>
<!ATTLIST title
	%global-attributes;
	type 	(
		main
		| subtitle
		| parttitle
		| alternate
		| abbrev
		| other
		) 	#IMPLIED
	>
	<!--
	Element			title
	Partial description	Document Title.
	Full description	Often displayed within a result-list after a search finds this article.

	id			Unique identifier for the element.
	type			A categorization for title. (Controlled vocabulary.)
	-->

<!ELEMENT meta EMPTY>
<!ATTLIST meta
	%global-attributes;
	http-equiv 	NMTOKEN 	#IMPLIED
	name 		NMTOKEN 	#IMPLIED
	content 	CDATA 		#REQUIRED
	>
	<!--
	Element			meta
	Partial description	A construct for sending generic metadata.
	Full description	Normally is undisplayed.

	id			Unique identifier for the element.
	http-equiv		HTTP response header name.
	name			Name used for this piece of metadata.
	content			Content associated with the specified name.
	-->

<!ELEMENT tobject (tobject.property*, tobject.subject*)>
<!ATTLIST tobject
	%global-attributes;
	tobject.type 		CDATA 	"news"
	>
	<!--
	Element			tobject
	Partial description	Subject code.
	Full description	Used to identify the type of the news material, based on a Subject Code system.

	id			Unique identifier for the element.
	tobject.type		Expanded from News, Data, and Advisory. See NewsML topic set.
	-->

	<!ELEMENT tobject.property EMPTY>
	<!ATTLIST tobject.property
		%global-attributes;
		tobject.property.type 	CDATA 	"current"
		>
		<!--
		Element			tobject.property
		Partial description	Subject code property.
		Full description	Assigns a property to the object type.

		id			Unique identifier for the element.
		tobject.property.type	Includes such items as analysis, feature, and obituary.
		-->

	<!ELEMENT tobject.subject EMPTY>
	<!ATTLIST tobject.subject
		%global-attributes;
		tobject.subject.ipr 		CDATA 		"IPTC"
		tobject.subject.refnum 		NMTOKEN 	#REQUIRED
		tobject.subject.code 		CDATA 		#IMPLIED
		tobject.subject.type 		CDATA 		#IMPLIED
		tobject.subject.matter 		CDATA 		#IMPLIED
		tobject.subject.detail 		CDATA 		#IMPLIED
		>
		<!--
		Element			tobject.subject
		Partial description	Assigns subject information to news material based on a Subject Code system.
		Full description	A three-tiered hierarchy consisting of broad subjects, secondary topics (Subject Matter), and tertiary topics (Subject Detail).

		id				Unique identifier for the element.
		tobject.subject.ipr		Information provider reference.
		tobject.subject.refnum		Eight-digit reference number for all three levels.
		tobject.subject.code		Three-letter code for the subject type.
		tobject.subject.type		First-tier subject description.
		tobject.subject.matter		Second-tier subject description.
		tobject.subject.detail		Third-tier subject description.
		-->

<!ELEMENT iim (ds*)>
<!ATTLIST iim
	%global-attributes;
	ver 	NMTOKEN 	#IMPLIED
	>
	<!--
	Element			iim
	Partial description	IIM Record 2 Data Container.
	Full description	Location for IIM Record 2 DataSet information.

	id			Unique identifier for the element.
	ver			IIM version number.
	-->

	<!ELEMENT ds EMPTY>
	<!ATTLIST ds
		%global-attributes;
		num 		NMTOKEN 	#REQUIRED
		value 		CDATA 		#IMPLIED
		>
		<!--
		Element			ds
		Partial description	IIM Record 2 dataset information.
		Full description	IIM Record 2 dataset information (Record 2 Only).

		id			Unique identifier for the element.
		num			IIM field number.
		value			IIM field value.
		-->

<!ELEMENT docdata (
	correction
	| evloc
	| doc-id
	| del-list
	| urgency
	| fixture
	| date.issue
	| date.release
	| date.expire
	| doc-scope
	| series
	| ed-msg
	| du-key
	| doc.copyright
	| doc.rights
	| key-list
	| identified-content
	)*>
<!ATTLIST docdata
	%global-attributes;
	>
	<!--
	Element			docdata
	Partial description	Document metadata.
	Full description	Container for metadata information about this particular document.

	id			Unique identifier for the element.
	-->

	<!ELEMENT correction EMPTY>
	<!ATTLIST correction
		%global-attributes;
		info 		CDATA 	#IMPLIED
		id-string 	CDATA 	#IMPLIED
		regsrc 		CDATA 	#IMPLIED
		>
		<!--
		Element			correction
		Partial description	Correction information.
		Full description	Indicates that the item is a correction to a previously published document.

		id			Unique identifier for the element.
		info			Contains actual message or instructions regarding the correction.
		id-string		Document identification string, such as UNO or doc-id.
		regsrc			Identifies the source of the correction.
		-->

	<!ELEMENT evloc EMPTY>
	<!ATTLIST evloc
		%global-attributes;
		iso-cc 		CDATA 	#IMPLIED
		state-prov 	CDATA 	#IMPLIED
		county-dist 	CDATA 	#IMPLIED
		city 		CDATA 	#IMPLIED
		>
		<!--
		Element			evloc
		Partial description	Event location.
		Full description	Where an event took place (as opposed to where the story was written).

		id			Unique identifier for the element.
		iso-cc			Country code as specified in ISO 3166.
		state-prov		State or province where the event occurred.
		county-dist		County or district name.
		city			City or municipality name.
		-->

	<!ELEMENT doc-id EMPTY>
	<!ATTLIST doc-id
		%global-attributes;
		regsrc 		CDATA 	#IMPLIED
		id-string 	CDATA 	#IMPLIED
		>
		<!--
		Element			doc-id
		Partial description	Registered identification for document.
		Full description	Character string that provides a unique, persistent identification for a document.

		id			Unique identifier for the element.
		regsrc			Identifies the source of the document or action.
		id-string		Document identification string.
		-->

	<!ELEMENT del-list (from-src)*>
	<!ATTLIST del-list
		%global-attributes;
		>
		<!--
		Element			del-list
		Partial description	Delivery trail of delivery services.
		Full description	Holds an ordered list of the distribution services that have been involved in the delivery of the document.

		id			Unique identifier for the element.
		-->

		<!ELEMENT from-src EMPTY>
		<!ATTLIST from-src
			%global-attributes;
			src-name 	CDATA 	#IMPLIED
			level-number 	CDATA 	#IMPLIED
			>
			<!--
			Element			from-src
			Partial description	Delivery service identifier.
			Full description	Identifier used to track the transmission path of the document throughout the delivery process.

			id			Unique identifier for the element.
			src-name		The entity moving the document.
			level-number		The position in the transmission path that the src-name occurred.
			-->

	<!ELEMENT urgency EMPTY>
	<!ATTLIST urgency
		%global-attributes;
		ed-urg 		NMTOKEN 	#IMPLIED
		>
		<!--
		Element			urgency
		Partial description	News importance.
		Full description	Can be used to set the priority for distribution but does not set the actual distribution priority.

		id			Unique identifier for the element.
		ed-urg			1=most, 5=normal, 8=least.
		-->

	<!ELEMENT fixture EMPTY>
	<!ATTLIST fixture
		%global-attributes;
		fix-id 		CDATA 	#IMPLIED
		>
		<!--
		Element			fixture
		Partial description	Specification for named document, such as Heard on the Street or On Language.
		Full description	Provides a consistent reference to a document whose content is refreshed periodically.

		id			Unique identifier for the element.
		fix-id			The name of the fixture.
		-->

	<!ELEMENT date.issue EMPTY>
	<!ATTLIST date.issue
		%global-attributes;
		norm 		CDATA 	#IMPLIED
		>
		<!--
		Element			date.issue
		Partial description	Date/time document was issued.
		Full description	If not provided, it is assumed to be on receipt.

		id			Unique identifier for the element.
		norm			Date/time value normalized to ISO 8601 (YYYYMMDDThhmmssZ), normalized to UTC.
		-->

	<!ELEMENT date.release EMPTY>
	<!ATTLIST date.release
		%global-attributes;
		norm 		CDATA 	#IMPLIED
		>
		<!--
		Element			date.release
		Partial description	Date/time document is available to be released.
		Full description	If not provided, it is assumed to be on receipt.

		id			Unique identifier for the element.
		norm			Date/time value normalized to ISO 8601 (YYYYMMDDThhmmssZ), normalized to UTC.
		-->

	<!ELEMENT date.expire EMPTY>
	<!ATTLIST date.expire
		%global-attributes;
		norm 		CDATA 	#IMPLIED
		>
		<!--
		Element			date.expire
		Partial description	Date/time at which the document has no validity.
		Full description	If not provided, it is assumed to be infinity.

		id			Unique identifier for the element.
		norm			Date/time value normalized to ISO 8601 (YYYYMMDDThhmmssZ), normalized to UTC.
		-->

	<!ELEMENT doc-scope EMPTY>
	<!ATTLIST doc-scope
		%global-attributes;
		scope 		CDATA 	#IMPLIED
		>
		<!--
		Element			doc-scope
		Partial description	Indicates an area where the document may be of interest.
		Full description	Where a non-category interest may be specified. These are often geographic in origin, such as Pacific Northwest.

		id			Unique identifier for the element.
		scope			Halfway between a Keyword and a Category.
		-->

	<!ELEMENT series EMPTY>
	<!ATTLIST series
		%global-attributes;
		series.name 		CDATA 		#IMPLIED
		series.part 		NMTOKEN 	"0"
		series.totalpart 	NMTOKEN 	"0"
		>
		<!--
		Element			series
		Partial description	Series information.
		Full description	Identification of an article within a series of related articles.

		id			Unique identifier for the element.
		series.name		The name of the series.
		series.part		Numeric order of this article within the series.
		series.totalpart	Total or expected number of articles in the series; use 0 if unknown or indefinite.
		-->

	<!ELEMENT ed-msg EMPTY>
	<!ATTLIST ed-msg
		%global-attributes;
		msg-type 	CDATA 	#IMPLIED
		info 		CDATA 	#IMPLIED
		>
		<!--
		Element			ed-msg
		Partial description	Non-publishable editorial message from provider or editor of item.
		Full description	Place where an information provider can send a note to the editor about the contents of the story.

		id			Unique identifier for the element.
		msg-type		The type of message. Providers are urged to use consistent values.
		info			Contains the actual message for the editorial message.
		-->

	<!ELEMENT du-key EMPTY>
	<!ATTLIST du-key
		%global-attributes;
		generation 	NMTOKEN 	#IMPLIED
		part 		NMTOKEN 	#IMPLIED
		version 	NMTOKEN 	#IMPLIED
		key 		CDATA 		#IMPLIED
		>
		<!--
		Element			du-key
		Partial description	Dynamic Use Key, created daily. Has tree structure indicated by defined form.
		Full description	Provides a mechanism for grouping and updating versions of stories. The du-key is unique to a story during a period fixed by the provider. After the time has elapsed, the reference is available for reuse.

		id			Unique identifier for the element.
		generation		Number indicating the du-key generation level. This number increments with each instance of a story that uses the same du-key.
		part			The part within the dynamic use key structure.
		version			Version of a particular use of the dynamic-use key.
		key			Contains the actual key value.
		-->

	<!ELEMENT doc.copyright EMPTY>
	<!ATTLIST doc.copyright
		%global-attributes;
		year 		NMTOKEN 	#IMPLIED
		holder 		CDATA 		#IMPLIED
		>
		<!--
		Element			doc.copyright
		Partial description	Copyright information for document header.
		Full description	A metadata location for the information about the year and holder of the document copyright. This information should be consistant with information in the copyrite tag.

		id			Unique identifier for the element.
		year			Year of the document copyright.
		holder			Holder of the copyright.
		-->

	<!ELEMENT doc.rights EMPTY>
	<!ATTLIST doc.rights
		%global-attributes;
		owner 		CDATA 		#IMPLIED
		startdate 	CDATA 		#IMPLIED
		enddate 	CDATA 		#IMPLIED
		agent 		CDATA 		#IMPLIED
		geography 	CDATA 		#IMPLIED
		location-code 	CDATA 		#IMPLIED
		code-source 	CDATA 		#IMPLIED
		type 		CDATA 		#IMPLIED
		limitations 	CDATA 		#IMPLIED
		>
		<!--
		Element			doc.rights
		Partial description	Rights information for use of the document.
		Full description	Used when the rights holder is not the same as the copyright holder. This information should be consistant with that in the series of rights tags.

		id			Unique identifier for the element.
		owner			The owner of the specified rights.
		startdate		Normalized start date/time for asserted rights.
		enddate			Normalized end date / time for specified document rights.
		agent			The rights agent.
		geography		Geographic area where rights are asserted.
		location-code		Coded location from standard list.
		code-source		Source of coded list information.
		type			Kind of rights being asserted.
		limitations		Limitations associated with document rights.
		-->

	<!ELEMENT key-list (keyword)*>
	<!ATTLIST key-list
		%global-attributes;
		>
		<!--
		Element			key-list
		Partial description	List of keywords.
		Full description	Holds a list of keywords about the document.

		id			Unique identifier for the element.
		-->

		<!ELEMENT keyword EMPTY>
		<!ATTLIST keyword
			%global-attributes;
			key 		CDATA 	#IMPLIED
			>
			<!--
			Element			keyword
			Partial description	Keyword. Can also be a phrase.
			Full description	Holds the keyword or phrase itself.

			id			Unique identifier for the element.
			key			The actual keyword.
			-->

	<!ELEMENT identified-content (
		person
		| org
		| location
		| event
		| function
		| object.title
		| virtloc
		| classifier
		)*>
	<!ATTLIST identified-content
		%global-attributes;
		>
		<!--
		Element			identified-content
		Partial description	Holds content identifiers that can apply to document as a whole.
		Full description	The elements this holds also appear in paragraphs. Note that its children should be EMPTY

		id			Unique identifier for the element.
		-->

<!ELEMENT pubdata EMPTY>
<!ATTLIST pubdata
	%global-attributes;
	type 			(
				print
				| audio
				| video
				| web
				| appliance
				| other
				) 		#IMPLIED
	item-length 		CDATA 		#IMPLIED
	unit-of-measure 	(
				word
				| character
				| byte
				| inch
				| pica
				| cm
				| hour
				| minute
				| second
				| other
				) 		#IMPLIED
	date.publication 	CDATA 		#IMPLIED
	name 			CDATA 		#IMPLIED
	issn 			CDATA 		#IMPLIED
	volume 			CDATA 		#IMPLIED
	number 			CDATA 		#IMPLIED
	issue 			CDATA 		#IMPLIED
	edition.name 		CDATA 		#IMPLIED
	edition.area 		CDATA 		#IMPLIED
	position.section 	CDATA 		#IMPLIED
	position.sequence 	CDATA 		#IMPLIED
	ex-ref 			CDATA 		#IMPLIED
	>
	<!--
	Element			pubdata
	Partial description	Information about specific instance of an item's publication.
	Full description	Contains metadata about how the particular news object was used in a specific instance.

	id			Unique identifier for the element.
	type			Transport medium, such as print, streaming video or broadcast.
	item-length		Length of the item; see also unit-of-measure.
	unit-of-measure		Measure associated with the length of the item; see also item-length.
	date.publication	Normalized date / time news object was used (per ISO 8601)
	name			Title of the publication.
	issn			The International Standard Serial Number (ISSN) of the publication in which the news object occurred.
	volume			Volume of the publication in which the information appeared.
	number			Publication number, often associated with a volume number.
	issue			The name of the issue of the publication where the news object occurred. Examples include June, fall, Olympic Special, year-end, etc.
	edition.name		Name of the edition in which the news object was distributed.
	edition.area		Area / zone where news object was distributed.
	position.section	Named section of a publication where a news object appeared, such as Science, Sports, Weekend, etc.
	position.sequence	Where a news object appeared among a list of items; often the page number.
	ex-ref			External reference to the rendering of the news object as published, in the form of a URN.
	-->

<!ELEMENT revision-history EMPTY>
<!ATTLIST revision-history
	%global-attributes;
	name 		CDATA 			#IMPLIED
	function 	(
			writer-author
			| editor
			| producer
			| archivist
			| videographer
			| graphic-artist
			| photographer
			| statistician
			| other
			) 			#IMPLIED
	norm 		CDATA 			#IMPLIED
	comment 	CDATA 			#IMPLIED
	>
	<!--
	Element			revision-history
	Partial description	Information about the creative history of the document; also used as an audit trail.
	Full description	Includes who made changes, when the changes were made, and why.

	id			Unique identifier for the element.
	name			Name of the person who made the revision (usually editor or reporter).
	function		Job function of individual performing revision.
	norm			Normalized date/time of the revision.
	comment			Reason for the revision.
	-->

<!-- 	****************************************************************
	body
	**************************************************************** -->

<!ELEMENT body (body.head?, body.content*, body.end?)>
<!ATTLIST body
	%common-attributes;
	>
	<!--
	Element			body
	Partial description	The content portion of the NITF document.
	Full description	All items within body are meant for display to the user.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	-->

<!-- 	****************************************************************
	body.head
	**************************************************************** -->

<!ELEMENT body.head (
	hedline?,
	note*,
	rights?,
	byline*,
	distributor?,
	dateline*,
	abstract?,
	series?
	)>
<!ATTLIST body.head
	%global-attributes;
	>
	<!--
	Element			body.head
	Partial description	Metadata intended to be displayed to the reader.
	Full description	Holds content such as headline, byline, etc.

	id			Unique identifier for the element.
	-->

<!ELEMENT hedline (hl1, hl2*)>
<!ATTLIST hedline
	%common-attributes;
	>
	<!--
	Element			hedline
	Partial description	Container for main headline and subheadlines.
	Full description	Provides a generally-dependable component for display in search results.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	-->

	<!ELEMENT hl1 (%enriched-text;)*>
	<!ATTLIST hl1 %common-attributes;>
	<!--
	Element			hl1
	Partial description	Headline 1 (main-headline).
	Full description	The primary headline of the story.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	-->

	<!ELEMENT hl2 (%enriched-text;)*>
	<!ATTLIST hl2 %common-attributes;>
	<!--
	Element			hl2
	Partial description	Headline 2 (sub-headline)
	Full description	A subordinate headline for the article.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	-->

<!ELEMENT note (body.content)+>
<!ATTLIST note
	%common-attributes;
	noteclass 	(
			cpyrt
			| end
			| hd
			| editorsnote
			| trademk
			| undef
			) 			#IMPLIED
	type 		(std | pa | npa) 	"std"
	>
	<!--
	Element			note
	Partial description	Document cautionary note.
	Full description	Potentially publishable.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	noteclass		The class of note. (Controlled vocabulary.)
	type			Standards, Publishable Advisory, Non-Publishable Advisory.
	-->

<!ELEMENT rights (
	#PCDATA
	| rights.owner
	| rights.startdate
	| rights.enddate
	| rights.agent
	| rights.geography
	| rights.type
	| rights.limitations
	)*>
<!ATTLIST rights
	%global-attributes;
	>
	<!--
	Element			rights
	Partial description	Information on rights holder.
	Full description	Rights to news material other than the copyrights, such as archival, syndication, or distribution.

	id			Unique identifier for the element.
	-->

	<!ELEMENT rights.owner (#PCDATA)>
	<!ATTLIST rights.owner
		%global-attributes;
		contact 	CDATA 	#IMPLIED
		>
		<!--
		Element			rights.owner
		Partial description	Rights owner
		Full description	Owner of the rights to the material.

		id			Unique identifier for the element.
		contact			Contact information for the owner.
		-->

	<!ELEMENT rights.startdate (#PCDATA)>
	<!ATTLIST rights.startdate
		%global-attributes;
		norm 		CDATA 	#IMPLIED
		>
		<!--
		Element			rights.startdate
		Partial description	Rights start date.
		Full description	Initial reference date for material rights.

		id			Unique identifier for the element.
		norm			Normalized date/time for the start.
		-->

	<!ELEMENT rights.enddate (#PCDATA)>
	<!ATTLIST rights.enddate
		%global-attributes;
		norm 		CDATA 	#IMPLIED
		>
		<!--
		Element			rights.enddate
		Partial description	Rights end date.
		Full description	Terminal reference date for material rights.

		id			Unique identifier for the element.
		norm			Normalized date/time for the end.
		-->

	<!ELEMENT rights.agent (#PCDATA)>
	<!ATTLIST rights.agent
		%global-attributes;
		contact 	CDATA 	#IMPLIED
		>
		<!--
		Element			rights.agent
		Partial description	Rights agent.
		Full description	Name of the agent that holds the rights to the material.

		id			Unique identifier for the element.
		contact			Contact information for the agent.
		-->

	<!ELEMENT rights.geography (#PCDATA)>
	<!ATTLIST rights.geography
		%global-attributes;
		location-code 	CDATA 	#IMPLIED
		code-source 	CDATA 	#IMPLIED
		>
		<!--
		Element			rights.geography
		Partial description	Area to which rights apply.
		Full description	A geographic area.

		id			Unique identifier for the element.
		location-code		Coded location from standard list.
		code-source		Source for the location code.
		-->

	<!ELEMENT rights.type (#PCDATA)>
	<!ATTLIST rights.type
		%global-attributes;
		>
		<!--
		Element			rights.type
		Partial description	Type of rights claimed.
		Full description	Type of material rights claimed (such as distribution).

		id			Unique identifier for the element.
		-->

	<!ELEMENT rights.limitations (#PCDATA)>
	<!ATTLIST rights.limitations
		%global-attributes;
		>
		<!--
		Element			rights.limitations
		Partial description	Limitations (exclusive / nonexclusive) of rights.
		Full description	Limitation on use of material rights.

		id			Unique identifier for the element.
		-->

<!ELEMENT byline (#PCDATA | person | byttl | location | virtloc)*>
<!ATTLIST byline
	%common-attributes;
	>
	<!--
	Element			byline
	Partial description	Container for byline information.
	Full description	Can either be structured with direct specification of the responsible person / entity and their title or unstructured text can be provided.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	-->

	<!ELEMENT byttl (#PCDATA | org )*>
	<!ATTLIST byttl
		%global-attributes;
		>
		<!--
		Element			byttl
		Partial description	Byline title. Often contains an organization.
		Full description	Title of the person, or entity associated with the byline and a specified person.

		id			Unique identifier for the element.
		-->

<!ELEMENT distributor (#PCDATA | org)*>
<!ATTLIST distributor
	%global-attributes;
	>
	<!--
	Element			distributor
	Partial description	Information distributor.
	Full description	May or may not be the owner or creator.

	id			Unique identifier for the element.
	-->

<!ELEMENT dateline (#PCDATA | location | story.date)*>
<!ATTLIST dateline %common-attributes;>
	<!--
	Element			dateline
	Partial description	Container for dateline information.
	Full description	The date and location where the story was created.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	-->

	<!ELEMENT story.date (#PCDATA)>
	<!ATTLIST story.date
		%global-attributes;
		norm 		CDATA 	#IMPLIED
		>
		<!--
		Element			story.date
		Partial description	Date of story.
		Full description	Printable date, with normalized version as attribute.

		id			Unique identifier for the element.
		norm			Normalized date and time.
		-->

<!ELEMENT abstract (%block.content;)+>
<!ATTLIST abstract
	%global-attributes;
	>
	<!--
	Element			abstract
	Partial description	Story abstract
	Full description	summary or synopsis of the contents of the document.

	id			Unique identifier for the element.
	-->

<!-- series: also allowed here -->

<!ELEMENT copyrite (#PCDATA | copyrite.year | copyrite.holder)*>
<!ATTLIST copyrite
	%global-attributes;
	>
	<!--
	Element			copyrite
	Partial description	Container for copyright information.
	Full description	A displayable statement about who owns the copyright to the article.

	id			Unique identifier for the element.
	-->

	<!ELEMENT copyrite.year (#PCDATA)>
	<!ATTLIST copyrite.year
		%global-attributes;
		>
		<!--
		Element			copyrite.year
		Partial description	Copyright year
		Full description	The year the copyright ownership was established.

		id			Unique identifier for the element.
		-->

	<!ELEMENT copyrite.holder (#PCDATA)>
	<!ATTLIST copyrite.holder
		%global-attributes;
		>
		<!--
		Element			copyrite.holder
		Partial description	Copyright holder.
		Full description	The name of the holder of the copyright.

		id			Unique identifier for the element.
		-->

<!-- 	****************************************************************
	body.content
	found within body, note, and fn (footnote) elements
	**************************************************************** -->

<!ELEMENT body.content (block | %block.content;)*>
<!ATTLIST body.content
	%global-attributes;
	>
	<!--
	Element			body.content
	Partial description	Actual body content.
	Full description	Holds paragraphs, lists, tables, media, and other containers.

	id			Unique identifier for the element.
	-->

<!ELEMENT block ((%block.start;)?, (%block.content;)*, (%block.end;)?)>
<!ATTLIST block %common-attributes;>
	<!--
	Element			block
	Partial description	A group of releated containers.
	Full description	This container can be used to organize a set of related containers, such as a sidebar.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	-->

<!ELEMENT p (%enriched-text;)*>
<!ATTLIST p
	%common-attributes;
	lede 		%boolean; 	#IMPLIED
	summary 	%boolean; 	#IMPLIED
	optional-text 	%boolean; 	#IMPLIED
	>
	<!--
	Element			p
	Partial description	Paragraph.
	Full description	An organized set of sentences.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	lede			Indicates that the paragraph is the lead paragraph(s) to the news object.
	summary			Indicates that the associated paragraphs form a summary.
	optional-text		Indicates that the paragraph could be considered optional.
	-->

<!-- hl2 is a block.content member -->

<!ELEMENT table (caption?, (col* | colgroup*), thead?, tfoot?, (tbody+ | tr+))>
<!ATTLIST table
	%common-attributes;
	tabletype 	ENTITY 		#IMPLIED
	align 		(
			left
			| center
			| right
			) 		#IMPLIED
	width 		CDATA 		#IMPLIED
	cols 		NMTOKEN 	#IMPLIED
	border 		CDATA 		#IMPLIED
	frame 		(
			void
			| above
			| below
			| hsides
			| lhs
			| rhs
			| vsides
			| box
			| border
			) 		#IMPLIED
	rules 		(
			none
			| basic
			| rows
			| cols
			| all
			) 		#IMPLIED
	cellspacing 	CDATA 		#IMPLIED
	cellpadding 	CDATA 		#IMPLIED
	>
	<!--
	Element			table
	Partial description	Table of data.
	Full description	Form is like the form of HTML tables.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	tabletype		Holds style information.
	align			Where the table should appear with respect to surrounding text. (Controlled vocabulary.)
	width			Width of the table, in pixels.
	cols			Number of columns in the table.
	border			Describes how the border (if any) should be rendered.
	frame			Specification of which parts of the frame around the table should be rendered.
	rules			Indicates the use of rules/lines between rows and columns.
	cellspacing		A measurement of the number of pixels between cells.
	cellpadding		A measurement of the number of pixels between a cell's border and its text.
	-->

<!ELEMENT media (media-metadata*, (media-reference, media-object?)+, media-caption*, media-producer?)>
<!ATTLIST media
	%common-attributes;
	media-type 	CDATA		#REQUIRED
	>
	<!--
	Element			media
	Partial description	Generalized media object.
	Full description	Used to package up a reference to an image, audio, video, etc. with its caption and credit.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.

	media-type		text | audio | image | video | data | application | other (Controlled vocabulary.)
	-->

	<!ELEMENT media-reference (#PCDATA)>
	<!ATTLIST media-reference
		%global-attributes;
		source 			CDATA 		#IMPLIED
		name			CDATA 		#IMPLIED
		mime-type 		CDATA 		#IMPLIED
		coding 			CDATA 		#IMPLIED
		time 			CDATA 		#IMPLIED
		time-unit-of-measure 	CDATA 		#IMPLIED
		outcue 			CDATA 		#IMPLIED
		source-credit 		CDATA 		#IMPLIED
		copyright 		CDATA 		#IMPLIED
		alternate-text 		CDATA 		#IMPLIED
		height 			NMTOKEN 	#IMPLIED
		width 			NMTOKEN 	#IMPLIED
		units 			(pixels) 	#IMPLIED
		imagemap 		CDATA 		#IMPLIED
		noflow 			(noflow) 	#IMPLIED
		>
		<!--
		Element			media-reference
		Partial description	Reference to an external media object, OR to its following media-object.
		Full description	Points to any object, such as photo, audio, video and text; or to executable files.

		id			Unique identifier for the element.
		class			An open placeholder for categorization.
		style			An open placeholder for reference by an external stylesheet.
		source			URL for external media file.
		name			Alternate name or description of the object.
		mime-type		Mime-type for the external media file.
		coding			How the information is coded.
		time			Length of time that the media file plays.
		time-unit-of-measure	Units in which the time attribute is measured.
		outcue			Provides information about the spoken information that ends an audio clip.
		source-credit		Indicates the source of the information.
		copyright		Copyright owner.
		alternate-text		Plain-text description that can serve as a substitute for the media object.
		height			Height of the media object.
		width			Width of the media object.
		units			Units used for width and height. Default is pixels.
		imagemap		Indication for whether the media object has an affiliated imagemap.
		noflow			Indicates if information can flow around figure.
		-->

	<!ELEMENT media-metadata EMPTY>
	<!ATTLIST media-metadata
		%global-attributes;
		name 		CDATA 		#REQUIRED
		value 		CDATA 		#IMPLIED
		>
		<!--
		Element			media-metadata
		Partial description	Generic metadata placeholder.
		Full description	Used when the attributes of media-reference do not suffice.

		id			Unique identifier for the element.
		name			Name of the metadata item.
		value			Value of the metadata item.
		-->

	<!ELEMENT media-object (#PCDATA)>
	<!ATTLIST media-object
		%common-attributes;
		encoding 	CDATA 	#REQUIRED
		>
		<!--
		Element			media-object
		Partial description	Inline media data.
		Full description	Holds binary information, or some other encoded format.

		id			Unique identifier for the element.
		class			An open placeholder for categorization.
		style			An open placeholder for reference by an external stylesheet.
		encoding		Format the encoded data is in.
		-->

	<!ELEMENT media-caption (%enriched-text; | %block.content;)*>
	<!ATTLIST media-caption
		%common-attributes;
		>
		<!--
		Element			media-caption
		Partial description	Text describing media.
		Full description	Often rendered beneath a photo or video.

		id			Unique identifier for the element.
		class			An open placeholder for categorization.
		style			An open placeholder for reference by an external stylesheet.
		-->

	<!ELEMENT media-producer (%enriched-text;)*>
	<!ATTLIST media-producer
		%common-attributes;
		>
		<!--
		Element			media-producer
		Partial description	Byline of media producer.
		Full description	Also used as a credit for the media.

		id			Unique identifier for the element.
		class			An open placeholder for categorization.
		style			An open placeholder for reference by an external stylesheet.
		-->

<!ELEMENT ol (li)+>
<!ATTLIST ol
	%common-attributes;
	seqnum 		NMTOKEN 	#IMPLIED
	>
	<!--
	Element			ol
	Partial description	Ordered list.
	Full description	Holds list items.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	seqnum			Sequence number within an ordered list.
	-->

<!ELEMENT ul (li)+>
<!ATTLIST ul
	%common-attributes;
	>
	<!--
	Element			ul
	Partial description	Unordered list.
	Full description	Holds list items.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	-->

	<!ELEMENT li (%enriched-text; | %block.content;)*>
	<!ATTLIST li
		%common-attributes;
		>
		<!--
		Element			li
		Partial description	List item.
		Full description	Holds content that is presented within a list.

		id			Unique identifier for the element.
		class			An open placeholder for categorization.
		style			An open placeholder for reference by an external stylesheet.
		-->

<!ELEMENT dl (dt | dd)+>
<!ATTLIST dl %common-attributes;>
	<!--
	Element			dl
	Partial description	Definition list.
	Full description	Holds terms and their definitions.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	-->

	<!ELEMENT dt (%enriched-text;)*>
	<!ATTLIST dt %common-attributes;>
		<!--
		Element			dt
		Partial description	Definition term.
		Full description	Holds the content that is to be defined.

		id			Unique identifier for the element.
		class			An open placeholder for categorization.
		style			An open placeholder for reference by an external stylesheet.
		-->

	<!ELEMENT dd (block)*>
	<!ATTLIST dd %common-attributes;>
		<!--
		Element			dd
		Partial description	Definition data.
		Full description	Holds the definition of the term.

		id			Unique identifier for the element.
		class			An open placeholder for categorization.
		style			An open placeholder for reference by an external stylesheet.
		-->

<!ELEMENT bq (block+, credit?)*>
<!ATTLIST bq
	%common-attributes;
	nowrap 		(nowrap) 	#IMPLIED
	quote-source 	CDATA 		#IMPLIED
	>
	<!--
	Element			bq
	Partial description	Block quote.
	Full description	An extended quotation.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	nowrap			Directive not to wrap text in the cell.
	quote-source		Source of a quote.
	-->

	<!ELEMENT credit (%enriched-text;)*>
	<!ATTLIST credit %common-attributes;>
	<!--
	Element			credit
	Partial description	Names the source of the block quote.
	Full description	Provides attribution for a block quote.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	-->

<!ELEMENT fn (body.content)+>
<!ATTLIST fn %common-attributes;>
	<!--
	Element			fn
	Partial description	Footnote.
	Full description	Notes that are often rendered at the end of a document.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	-->

<!-- note is a block.content member -->

<!ELEMENT pre (#PCDATA)>
<!ATTLIST pre
	%global-attributes;
	>
	<!--
	Element			pre
	Partial description	Preformatted information.
	Full description	Carriage returns and fixed-width spacing should be maintained.

	id			Unique identifier for the element.
	-->

<!ELEMENT hr EMPTY>
<!ATTLIST hr
	%common-attributes;
	>
	<!--
	Element			hr
	Partial description	Horizontal rule.
	Full description	A rendered divider between sections of text.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	-->


<!ELEMENT datasource (#PCDATA)>
<!ATTLIST datasource
	%global-attributes;
	>
	<!--
	Element			datasource
	Partial description	Source of the information grouped in a block element.
	Full description	Cites the source of block content. Allowed only at end of block.

	id			Unique identifier for the element.
	-->


<!-- 	****************************************************************
	table elements
	**************************************************************** -->

<!ELEMENT caption (%enriched-text; | %block.content;)*>
<!ATTLIST caption
	%common-attributes;
	align 		(
			top
			| bottom
			| left
			| right
			) 		#IMPLIED
	>
	<!--
	Element			caption
	Partial description	Text for the caption of a table.
	Full description	Appears only within the table element.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	align			Alignment of the text in the caption.
	-->

<!ELEMENT col EMPTY>
<!ATTLIST col
	%common-attributes;
	span 		NMTOKEN 	"1"
	width 		CDATA 		#IMPLIED
	%cell.align;
	%cell.valign;
	>
	<!--
	Element			col
	Partial description	Column.
	Full description	Used to specify formatting for a table column.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	span			Number of columns a header cell spans.
	width			Width of the column, in pixels.
	align			Alignment of text in the column.
	char			Specifies a single character within a text fragment to act as the axis for text alignment. Default varies by language; for example, default for en-US is period (.).
	charoff			Specifies the offset to the first occurance of the character specified in char. !!
	valign			Vertical alignment of text in the column.
	-->

<!ELEMENT colgroup (col+)>
<!ATTLIST colgroup
	%common-attributes;
	%cell.align;
	%cell.valign;
	>
	<!--
	Element			colgroup
	Partial description	Column group.
	Full description	Used to specify formatting for a table column.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	align			Alignment of text in the column group.
	char			HTML formatting attribute.
	charoff			HTML formatting attribute.
	valign			Vertical alignment of text in the column group.
	-->

<!ELEMENT thead (tr+)>
<!ATTLIST thead
	%common-attributes;
	%cell.align;
	%cell.valign;
	>
	<!--
	Element			thead
	Partial description	Table heading.
	Full description	Used to group rows that can consistently be displayed atop a table.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	align			Alignment of text in the column group.
	char			HTML formatting attribute.
	charoff			HTML formatting attribute.
	valign			Vertical alignment of text in the column group.
	-->

<!ELEMENT tbody (tr+)>
<!ATTLIST tbody
	%common-attributes;
	%cell.align;
	%cell.valign;
	>
	<!--
	Element			tbody
	Partial description	Table body.
	Full description	Holds the bulk of the data rows of a table.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	align			Alignment of text in the column group.
	char			HTML formatting attribute.
	charoff			HTML formatting attribute.
	valign			Vertical alignment of text in the column group.
	-->

<!ELEMENT tfoot (tr+)>
<!ATTLIST tfoot
	%common-attributes;
	%cell.align;
	%cell.valign;
	>
	<!--
	Element			tfoot
	Partial description	Table footer.
	Full description	Used to group rows that can consistently be displayed below a table.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	align			Alignment of text in the column group.
	char			HTML formatting attribute.
	charoff			HTML formatting attribute.
	valign			Vertical alignment of text in the column group.
	-->

<!ELEMENT tr (th | td)+>
<!ATTLIST tr
	%common-attributes;
	%cell.align;
	%cell.valign;
	>
	<!--
	Element			tr
	Partial description	Table row.
	Full description	Holds cells of a table.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	align			Alignment of text in the column group.
	char			HTML formatting attribute.
	charoff			HTML formatting attribute.
	valign			Vertical alignment of text in the column group.
	-->

<!ELEMENT th (%enriched-text; | %block.content;)*>
<!ATTLIST th
	%common-attributes;
	axis 		CDATA 		#IMPLIED
	axes 		CDATA 		#IMPLIED
	nowrap 		(nowrap) 	#IMPLIED
	rowspan 	NMTOKEN 	#IMPLIED
	colspan 	NMTOKEN 	#IMPLIED
	%cell.align;
	%cell.valign;
	>
	<!--
	Element			th
	Partial description	Table header cell.
	Full description	Holds content intended to be a label.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	axis			HTML formatting attribute.
	axes			HTML formatting attribute.
	nowrap			Directive not to wrap text in the cell.
	rowspan			Number of horizontal rows a cell spans.
	colspan			Number of vertical columns a cell spans.
	align			Alignment of text in the column group.
	char			HTML formatting attribute.
	charoff			HTML formatting attribute.
	valign			Vertical alignment of text in the column group.
	-->

<!ELEMENT td (%enriched-text; | %block.content;)*>
<!ATTLIST td
	%common-attributes;
	axis 		CDATA 		#IMPLIED
	axes 		CDATA 		#IMPLIED
	nowrap 		(nowrap) 	#IMPLIED
	rowspan 	NMTOKEN 	#IMPLIED
	colspan 	NMTOKEN 	#IMPLIED
	%cell.align;
	%cell.valign;
	>
	<!--
	Element			td
	Partial description	Table data cell.
	Full description	Holds content intended to be data.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	axis			HTML formatting attribute.
	axes			HTML formatting attribute.
	nowrap			Directive not to wrap text in the cell.
	rowspan			Number of horizontal rows a cell spans.
	colspan			Number of vertical columns a cell spans.
	align			Alignment of text in the column group.
	char			HTML formatting attribute.
	charoff			HTML formatting attribute.
	valign			Vertical alignment of text in the column group.
	-->

<!-- 	****************************************************************
	text elements
		chron | copyrite | event | function | location | money | num
		| object.title | org | person | postaddr | virtloc | a | br
		| em | lang | pronounce | q
	**************************************************************** -->

<!ELEMENT chron (#PCDATA)>
<!ATTLIST chron
	%common-attributes;
	norm 		CDATA 	#IMPLIED
	>
	<!--
	Element			chron
	Partial description	Date and time.
	Full description	Used to normalize inline date and time references.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	norm			Normalized value of the time.
	-->

<!-- copyrite allowed here, also -->

<!ELEMENT event (#PCDATA | alt-code)*>
<!ATTLIST event
	%common-attributes;
	start-date 	CDATA 		#IMPLIED
	end-date 	CDATA 		#IMPLIED
	idsrc 		CDATA 		#IMPLIED
	value 		CDATA 		#IMPLIED
	>
	<!--
	Element			event
	Partial description	An event.
	Full description	An activity that is considered newsworthy.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	start-date		ISO Date for when the event is set to start.
	end-date		ISO Date for when the event is set to end.
	idsrc			The source (taxonomy) for the element's value attribute.
	value			The code or symbol for the element.
	-->

<!ELEMENT function (#PCDATA | alt-code)*>
<!ATTLIST function
	%global-attributes;
	idsrc 		CDATA 		#IMPLIED
	value 		CDATA 		#IMPLIED
	>
	<!--
	Element			function
	Partial description	Role played by a person.
	Full description	Can be either a description, such as interior decorator, or a formal title, such as president, chairman, owner, captain, manager.

	id			Unique identifier for the element.
	idsrc			The source (taxonomy) for the element's value attribute.
	value			The code or symbol for the element.
	-->

<!ELEMENT location (#PCDATA | sublocation | city | state | region | country | alt-code)*>
<!ATTLIST location
	%common-attributes;
	location-code 	CDATA 	#IMPLIED
	code-source 	CDATA 	#IMPLIED
	>
	<!--
	Element			location
	Partial description	Significant place mentioned in an article.
	Full description	Used to normalize locations.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	location-code		The code or symbol for the element.
	code-source		The source (taxonomy) for the element's location-code.
	-->

	<!ELEMENT sublocation (#PCDATA | alt-code)*>
	<!ATTLIST sublocation
		%common-attributes;
		location-code 	CDATA 	#IMPLIED
		code-source 	CDATA 	#IMPLIED
		>
		<!--
		Element			sublocation
		Partial description	Named region within city or state.
		Full description	Generic holder for more detailed location information.

		id			Unique identifier for the element.
		class			An open placeholder for categorization.
		style			An open placeholder for reference by an external stylesheet.
		location-code		The code or symbol for the element.
		code-source		The source (taxonomy) for the element's location-code.
		-->

	<!ELEMENT city (#PCDATA | alt-code)*>
	<!ATTLIST city
		%common-attributes;
		city-code 	CDATA 	#IMPLIED
		code-source 	CDATA 	#IMPLIED
		>
		<!--
		Element			city
		Partial description	City, town, village, etc.
		Full description	Used to normalize city, town names.

		id			Unique identifier for the element.
		class			An open placeholder for categorization.
		style			An open placeholder for reference by an external stylesheet.
		city-code		The code or symbol for the element.
		code-source		The source (taxonomy) for the element's city-code.
		-->

	<!ELEMENT state (#PCDATA | alt-code)*>
	<!ATTLIST state
		%common-attributes;
		state-code 	CDATA 	#IMPLIED
		code-source 	CDATA 	#IMPLIED
		>
		<!--
		Element			state
		Partial description	State or province or region.
		Full description	Used to normalize these locations.

		id			Unique identifier for the element.
		class			An open placeholder for categorization.
		style			An open placeholder for reference by an external stylesheet.
		state-code		The code or symbol for the element.
		code-source		The source (taxonomy) for the element's state-code.
		-->

	<!ELEMENT region (#PCDATA | alt-code)*>
	<!ATTLIST region
		%common-attributes;
		region-code 	CDATA 	#IMPLIED
		code-source 	CDATA 	#IMPLIED
		>
		<!--
		Element			region
		Partial description	Geographic area.
		Full description	Used to normalize regions.

		id			Unique identifier for the element.
		class			An open placeholder for categorization.
		style			An open placeholder for reference by an external stylesheet.
		region-code		The code or symbol for the element.
		code-source		The source (taxonomy) for the element's region-code.
		-->

	<!ELEMENT country (#PCDATA | alt-code)*>
	<!ATTLIST country
		%common-attributes;
		iso-cc 		CDATA 	#IMPLIED
		>
		<!--
		Element			country
		Partial description	Geographic area with a government.
		Full description	Used to normalize countries.

		id			Unique identifier for the element.
		class			An open placeholder for categorization.
		style			An open placeholder for reference by an external stylesheet.
		iso-cc			Country code as specified in ISO 3166.
		-->

<!ELEMENT money (#PCDATA)>
<!ATTLIST money
	%common-attributes;
	unit 		CDATA 	#IMPLIED
	date 		CDATA 	#IMPLIED
	>
	<!--
	Element			money
	Partial description	Monetary item.
	Full description	Used to identify units of money.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	unit			The currency used.
	date			ISO date for when this currency value was quoted.
	-->

<!ELEMENT num (#PCDATA | frac | sub | sup)*>
<!ATTLIST num
	%common-attributes;
	units 		CDATA 	#IMPLIED
	decimal-ch 	CDATA 	#IMPLIED
	thousands-ch 	CDATA 	#IMPLIED
	>
	<!--
	Element			num
	Partial description	Numeric data.
	Full description	Used to normalize numbers.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	units			Units the number is in.
	decimal-ch		Character used to separate decimalized portion.
	thousands-ch		Character to separate thousands groups.
	-->

	<!ELEMENT frac (numer, frac-sep?, denom)>
	<!ATTLIST frac
		%common-attributes;
		>
		<!--
		Element			frac
		Partial description	Fraction.
		Full description	Separates the numerator from the denominator.

		id			Unique identifier for the element.
		class			An open placeholder for categorization.
		style			An open placeholder for reference by an external stylesheet.
		-->

		<!ELEMENT numer (#PCDATA)>
		<!ATTLIST numer
			%global-attributes;
			>
			<!--
			Element			numer
			Partial description	Fraction numerator.
			Full description	The top part of a fraction.

			id			Unique identifier for the element.
			-->

		<!ELEMENT frac-sep (#PCDATA)>
		<!ATTLIST frac-sep
			%global-attributes;
			>
			<!--
			Element			frac-sep
			Partial description	Fraction separator.
			Full description	Holds the preferred character, normally a slash.

			id			Unique identifier for the element.
			-->

		<!ELEMENT denom (#PCDATA)>
		<!ATTLIST denom
			%global-attributes;
			>
			<!--
			Element			denom
			Partial description	Fraction denominator.
			Full description	The bottom part of a fraction.

			id			Unique identifier for the element.
			-->

	<!ELEMENT sub (#PCDATA)>
	<!ATTLIST sub %common-attributes;>
		<!--
		Element			sub
		Partial description	Subscript.
		Full description	Generally rendered in small type and vertically aligned lower than the main text.

		id			Unique identifier for the element.
		class			An open placeholder for categorization.
		style			An open placeholder for reference by an external stylesheet.
		-->

	<!ELEMENT sup (#PCDATA)>
	<!ATTLIST sup %common-attributes;>
		<!--
		Element			sup
		Partial description	Superscript.
		Full description	Generally rendered in small type and vertically aligned higher than the main text.

		id			Unique identifier for the element.
		class			An open placeholder for categorization.
		style			An open placeholder for reference by an external stylesheet.
		-->

<!ELEMENT object.title (#PCDATA | alt-code)*>
<!ATTLIST object.title
	%common-attributes;
	idsrc 	CDATA 	#IMPLIED
	value 	CDATA 	#IMPLIED
	>
	<!--
	Element			object.title
	Partial description	Title of inline object such as book, song, artwork, etc.
	Full description	Used to normalize these values.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	idsrc			The source (taxonomy) for the element's value.
	value			The code or symbol for the element.
	-->

<!ELEMENT org (#PCDATA | alt-code)*>
<!ATTLIST org
	%global-attributes;
	idsrc 	CDATA 	#IMPLIED
	value 	CDATA 	#IMPLIED
	>
	<!--
	Element			org
	Partial description	Organization.
	Full description	Used for companies (both private and public) and non-profits.

	id			Unique identifier for the element.
	idsrc			The source (taxonomy) for the element's value.
	value			The code or symbol for the element.
	-->

	<!ELEMENT alt-code EMPTY>
	<!ATTLIST alt-code
		%global-attributes;
		idsrc 	CDATA 	#REQUIRED
		value 	CDATA 	#REQUIRED
		>
		<!--
		Element			alt-code
		Partial description	An alternate symbol for the phrase.
		Full description	Used when an item has more than one symbol behind it.

		id			Unique identifier for the element.
		idsrc			The source (taxonomy) for the element's value.
		value			An alternate code or symbol for the element.
		-->

<!ELEMENT person (#PCDATA | name.given | name.family | function | alt-code)*>
<!ATTLIST person
	%global-attributes;
	idsrc 	CDATA 	#IMPLIED
	value 	CDATA 	#IMPLIED
	>
	<!--
	Element			person
	Partial description	Human individual.
	Full description	Used to normalize people.

	id			Unique identifier for the element.
	idsrc			The source (taxonomy) for the element's value.
	value			The code or symbol for the element.
	-->

	<!ELEMENT name.given (#PCDATA)>
	<!ATTLIST name.given
		%global-attributes;
		>
		<!--
		Element			name.given
		Partial description	Given name.
		Full description	In the U.S., the first name of an individual.

		id			Unique identifier for the element.
		-->

	<!ELEMENT name.family (#PCDATA)>
	<!ATTLIST name.family
		%global-attributes;
		>
		<!--
		Element			name.family
		Partial description	Family name.
		Full description	In the U.S., the last name of an individual.

		id			Unique identifier for the element.
		-->

<!ELEMENT postaddr (addressee, delivery.point?, (postcode | delivery.office | region | country)*)>
<!ATTLIST postaddr
	%global-attributes;
	>
	<!--
	Element			postaddr
	Partial description	Mailing address.
	Full description	Used to deliver mail.

	id			Unique identifier for the element.
	-->

<!ELEMENT virtloc (#PCDATA | alt-code)*>
<!ATTLIST virtloc
	%common-attributes;
	idsrc 		CDATA 		#IMPLIED
	value 		CDATA 		#IMPLIED
	>
	<!--
	Element			virtloc
	Partial description	Virtual Location.
	Full description	A location in cyberspace.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	idsrc			The source (taxonomy) for the element's value attribute.
	value			The code or symbol for the element.
	-->

<!ELEMENT a (%enriched-text;)*>
<!ATTLIST a
	%common-attributes;
	href 		CDATA 		#IMPLIED
	name 		CDATA 		#IMPLIED
	rel 		NMTOKEN 	#IMPLIED
	rev 		NMTOKEN 	#IMPLIED
	title 		CDATA 		#IMPLIED
	>
	<!--
	Element			a
	Partial description	Anchor for hypertext links.
	Full description	Allows users to traverse to other documents.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	href			URL for where the hypertext anchor leads.
	name			Alternate name or description of the link, such as Link to News Item.
	rel			Specifies the relationship from the source to the target.
	rev			Specifies the relationship from the target to the source.
	title			Title for the document to be linked to.
	-->

<!ELEMENT br EMPTY>
<!ATTLIST br
	%global-attributes;
	>
	<!--
	Element			br
	Partial description	Forced line break.
	Full description	Often used within headlines.

	id			Unique identifier for the element.
	-->

<!ELEMENT em (%enriched-text;)*>
<!ATTLIST em %common-attributes;>
	<!--
	Element			em
	Partial description	Emphasis.
	Full description	Can be rendered as bold, italics, or another style.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	-->

<!ELEMENT lang (%enriched-text;)*>
<!ATTLIST lang %common-attributes;>
	<!--
	Element			lang
	Partial description	Language identifier.
	Full description	Used to separate inline changes of language.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	-->

<!ELEMENT pronounce (%enriched-text;)*>
<!ATTLIST pronounce
	%global-attributes;
	guide 		CDATA 	#IMPLIED
	phonetic 	CDATA 	#IMPLIED
	>
	<!--
	Element			pronounce
	Partial description	Pronunciation Information.
	Full description	Used to elaborate on how a term is spoken.

	id			Unique identifier for the element.
	guide			Source used to create pronunciation.
	phonetic		Phonetic pronunciation of an phrase.
	-->

<!ELEMENT q (%enriched-text;)*>
<!ATTLIST q
	%common-attributes;
	quote-source 	CDATA 	#IMPLIED
	>
	<!--
	Element			q
	Partial description	Quotation.
	Full description	Words directly attributed to an individual.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	quote-source		Who said or wrote the quotation.
	-->

<!-- 	****************************************************************
	postaddr elements
	addressee, delivery.point?, (postcode | delivery.office | region | country
	**************************************************************** -->

<!ELEMENT addressee (person, function?, care.of?)>
<!ATTLIST addressee
	%global-attributes;
	>
	<!--
	Element			addressee
	Partial description	Person or organization to whom the postal item is being sent.
	Full description	Used in a postal address.

	id			Unique identifier for the element.
	-->

	<!ELEMENT care.of (#PCDATA)>
	<!ATTLIST care.of
		%global-attributes;
		>
		<!--
		Element			care.of
		Partial description	Poste restante.
		Full description	An alternative receiver of the postal item.

		id			Unique identifier for the element.
		-->

<!ELEMENT delivery.point (#PCDATA | br)*>
<!ATTLIST delivery.point
	%global-attributes;
	point-code 	CDATA 	#IMPLIED
	code-source 	CDATA 	#IMPLIED
	>
	<!--
	Element			delivery.point
	Partial description	Street, PO Box No.
	Full description	Precise point of delivery.

	id			Unique identifier for the element.
	point-code		Coded location for a delivery point.
	code-source		Source of coded list information.
	-->

<!ELEMENT postcode (#PCDATA)>
<!ATTLIST postcode
	%global-attributes;
	code-source 	CDATA 	#IMPLIED
	>
	<!--
	Element			postcode
	Partial description	Postal code.
	Full description	Used by postal agency to improve delivery efficiency.

	id			Unique identifier for the element.
	code-source		Source of coded list information.
	-->

<!ELEMENT delivery.office (#PCDATA | br)*>
<!ATTLIST delivery.office
	%global-attributes;
	office-code 	CDATA 	#IMPLIED
	code-source 	CDATA 	#IMPLIED
	>
	<!--
	Element			delivery.office
	Partial description	Postal city or town.
	Full description	Where the post office is located.

	id			Unique identifier for the element.
	office-code		Coded location of office from referenced coded source.
	code-source		Source of coded list information.
	-->

<!-- region also allowed -->

<!-- country also allowed -->

<!-- 	****************************************************************
	body.end
	**************************************************************** -->

<!ELEMENT body.end (tagline?, bibliography?)>
<!ATTLIST body.end
	%global-attributes;
	>
	<!--
	Element			body.end
	Partial description	Information at the end of an article body
	Full description	Holds a tagline and/or a bibliography.

	id			Unique identifier for the element.
	-->

<!ELEMENT tagline (%enriched-text;)*>
<!ATTLIST tagline
	%common-attributes;
	type 		(std | pa | npa) 	"std"
	>
	<!--
	Element			tagline
	Partial description	A byline at the end of a story.
	Full description	Example: Stuart Myles contributed to this article.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	type			Standard, publishable-advisory, non-publishable advisory.
	-->

<!ELEMENT bibliography (#PCDATA)>
<!ATTLIST bibliography
	%common-attributes;
	>
	<!--
	Element			bibliography
	Partial description	Free-form bibliographic data.
	Full description	Used to elaborate on the source of information.

	id			Unique identifier for the element.
	class			An open placeholder for categorization.
	style			An open placeholder for reference by an external stylesheet.
	-->

<!ELEMENT classifier (#PCDATA | alt-code)*>
<!ATTLIST classifier
	%global-attributes;
	type 	CDATA 	#IMPLIED
	idsrc 	CDATA 	#IMPLIED
	value 	CDATA 	#IMPLIED
	>
	<!--
	Element			classifier
	Partial description	Generic holder for metadata. Could be used by researchers and archivists to qualify documents.
	Full description	May be used inline (as localized phrase, atop a block (as localized section), or in docdata (for document as a whole).

	id			Unique identifier for the element.
	type			Type of classifier. Example is concept.
	idsrc			The source (taxonomy) for the element's value.
	value			The code or symbol for the element.
	-->

<!ELEMENT nitf-table (
	nitf-table-metadata,
	(table | custom-table | table-reference+)
	)>
<!ATTLIST nitf-table
	%global-attributes;
	>
	<!--
	Element			nitf-table
	Partial description	A holder for a table, and content-filled metadata.
	Full description	May contain the classic NITF table, or a custom table.

	id			Unique identifier for the element.
	-->

	<!ELEMENT custom-table (#PCDATA)>
	<!ATTLIST custom-table
		%common-attributes;
		>
		<!--
		Element			custom-table
		Partial description	A holder for a namespaced XML fragment for custom-tagged data, or for an alternative set of non-parser-breaking content.
		Full description	Used when publisher wants to surround the fragment with NITF metadata.

		id			Unique identifier for the element.
		class			An open placeholder for categorization.
		style			An open placeholder for reference by an external stylesheet.
		-->

	<!ELEMENT table-reference EMPTY>
	<!ATTLIST table-reference
		%global-attributes;
		idref			CDATA	#REQUIRED
		>
		<!--
		Element			table-reference
		Partial description	A pointer to a table that is elsewhere in the document.
		Full description	Can be used when the table is buried deep inside the included namespaced fragment.

		id			Unique identifier for the element.
		idref			Holds an ID for the actual table.
		-->

	<!ELEMENT nitf-table-metadata (nitf-table-summary?, (nitf-colgroup | nitf-col)+)>
	<!ATTLIST nitf-table-metadata
		%common-attributes;
		subclass 		CDATA 		#IMPLIED
		idsrc		 	CDATA 		#IMPLIED
		value 			CDATA 		#IMPLIED
		status 			(pre | snap-shot | interim  | final | official)
					 		#IMPLIED
		column-count 		CDATA 		#IMPLIED
		row-count 		CDATA 		#IMPLIED
		>
		<!--
		Element			nitf-table-metadata
		Partial description	A holder for a namespaced XML fragment for custom-tagged data.
		Full description	Used when publisher wants to surround the fragment with NITF metadata.

		id			Unique identifier for the element.
		class			An open placeholder for categorization.
		style			An open placeholder for reference by an external stylesheet.
		subclass			A further refinement of the class attribute.
		idsrc			The source (taxonomy) for the element's value attribute.
		value			The code or symbol for the particular table.
		status			Measure of finality of the values of the table. Interim is the end of a logical break. snap-shot is any point in time.
		column-count		Number of columns in the entire table.
		row-count		Number of rows in the entire table.
		-->

	<!ELEMENT nitf-table-summary (p*)>
	<!ATTLIST nitf-table-summary
		%common-attributes;
		>
		<!--
		Element			nitf-table-summary
		Partial description	Textual description of the table.
		Full description	May describe intent of table and how it may be represented. Should be managed like a non-publishable editors note.

		id			Unique identifier for the element.
		class			An open placeholder for categorization.
		style			An open placeholder for reference by an external stylesheet.
		-->

	<!ELEMENT nitf-colgroup (nitf-col)+>
	<!ATTLIST nitf-colgroup
		%global-attributes;
		idsrc 			CDATA 	#IMPLIED
		value 			CDATA 	#IMPLIED
		occurrences		CDATA 	#IMPLIED
		>
		<!--
		Element			nitf-colgroup
		Partial description	A collection of nitf-col elements.
		Full description	Used when table repeats columns of a particular type.

		id			Unique identifier for the element.
		idsrc			The source (taxonomy) for the element's value attribute.
		value			The code or symbol for the particular column.
		occurrences		Indicates how many times the colgroup occurs. Default is 1.
		-->

	<!ELEMENT nitf-col EMPTY>
	<!ATTLIST nitf-col
		%global-attributes;
		idsrc 			CDATA 	#IMPLIED
		value 			CDATA 	#IMPLIED
		occurrences 		CDATA 	#IMPLIED
		data-type 		(text | number | graphic | other)
						#IMPLIED
		data-format 		CDATA 	#IMPLIED
		>
		<!--
		Element			nitf-col
		Partial description	A holder for a namespaced XML fragment for custom-tagged data.
		Full description	Used when publisher wants to surround the fragment with NITF metadata.

		id			Unique identifier for the element.
		idsrc			The source (taxonomy) for the element's value attribute.
		value			The code or symbol for the particular column.
		occurrences		Indicates how many times the col occurs. Default is 1.
		data-type		The general type of data within the column.
		data-format		An expanded definition of the data, based on the data-type.
		-->
